In [ ]:
import pandas as pd
d = {'RollNo':['1','2','3'],'Maths':[85,70,55],'Physics':[56,71,75],
     'Chemistry':[76,72,57],'English':[58,75,86],'Hindi':[90,85,83],}
df = pd.DataFrame(d)
df1 = pd.DataFrame(d)
df2 = pd.DataFrame(d)
df3 = pd.DataFrame(d)
print(df)

  RollNo  Maths  Physics  Chemistry  English  Hindi
0      1     85       56         76       58     90
1      2     70       71         72       75     85
2      3     55       75         57       86     83

In [ ]:
#Groupby Method in Pandas-------------------------------------------------------
groupby_dict = {'Maths':'PCM','Physics':'PCM','Chemistry':'PCM',
                'English':'Language','Hindi':'Language'}
df = df.set_index('RollNo')
df = df.groupby(groupby_dict, axis = 1).min()
print(df)

        Language  PCM
RollNo
1             58   56
2             75   70
3             83   55

In [ ]:
#merge Method in Pandas---------------------------------------------------------
newTest = {'RollNo':['1', '2', '3'],'Biology':[70,75,80],'Defence':[80,74,66]}
df4=pd.DataFrame(newTest)
df2=pd.merge(df2,df4)
print("Output: ")
print(df2)

Output:
  RollNo  Maths  Physics  Chemistry  English  Hindi  Biology  Defence
0      1     85       56         76       58     90       70       80
1      2     70       71         72       75     85       75       74
2      3     55       75         57       86     83       80       66

In [ ]:
#concat method in pandas--------------------------------------------------------
print("Output: Before Concatenation:\n",df3)
d2 = {'RollNo':['2','3','6','7','8'],'Maths':[70,55,35,67,89],'Physics':[71,75,56,71,75],
      'Chemistry':[72,57,72,84,57],'English':[75,86,75,83,86],'Hindi':[85,83,85,89,83],}
df5 = pd.DataFrame(d2)
result=pd.concat([df3,df5])
print("After Concatenation:\n",result)

Output:
Before Concatenation:
   RollNo  Maths  Physics  Chemistry  English  Hindi
0      1     85       56         76       58     90
1      2     70       71         72       75     85
2      3     55       75         57       86     83

After Concatenation:
   RollNo  Maths  Physics  Chemistry  English  Hindi
0      1     85       56         76       58     90
1      2     70       71         72       75     85
2      3     55       75         57       86     83
0      2     70       71         72       75     85
1      3     55       75         57       86     83
2      6     35       56         72       75     85
3      7     67       71         84       83     89
4      8     89       75         57       86     83

In [ ]:
#Data Organisation (Removing Duplicates)----------------------------------------
result.drop_duplicates(subset="RollNo",keep=False, inplace=True)
print("Output: ")
print(result)

Output:
  RollNo  Maths  Physics  Chemistry  English  Hindi
0      1     85       56         76       58     90
2      6     35       56         72       75     85
3      7     67       71         84       83     89
4      8     89       75         57       86     83

In [ ]:
#Minâ€“Max transformation---------------------------------------------------------
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
result = result.set_index('RollNo')
df_scaled = pd.DataFrame(scaler.fit_transform(result), 
                         columns=['Maths','Physics','Chemistry','English','Hindi'])
print("Output: ")
print(df_scaled)

Output:
      Maths   Physics  Chemistry   English     Hindi
0  0.925926  0.000000   0.703704  0.000000  1.000000
1  0.000000  0.000000   0.555556  0.607143  0.285714
2  0.592593  0.789474   1.000000  0.892857  0.857143
3  1.000000  1.000000   0.000000  1.000000  0.000000

In [ ]:
#Z-Score---------------------------------------------------------------
def z_score(df):
    df_std = df.copy()
    for column in df_std.columns:
        df_std[column] = (df_std[column] - df_std[column].mean()) / df_std[column].std()
    return df_std
print("Output: ")
print(z_score(result))

Output:
           Maths   Physics  Chemistry   English     Hindi
RollNo
1       0.650313 -0.854282   0.331133 -1.393696  0.983645
6      -1.381916 -0.854282  -0.022076 -0.039820 -0.529655
7      -0.081289  0.653275   1.037550  0.597298  0.680985
8       0.812892  1.055290  -1.346608  0.836218 -1.134975